*/*aux
*/**/*aux
*/*.gz
*/**/*.gz
*/*latexmk
*/**/*latexmk
*/*fls
*/**/*fls
*/*fdb_latexmk
*/**/*fdb_latexmk
*/*synctex.gz
*/**/*synctex.gz
*/*blg
*/**/*blg
*/*log
*/**/*log
*/*out
*/**/*out
*/*toc
*/**/*toc
*/*nav
*/**/*nav
*/*snm
*/**/*snm
*/*vrb
*/**/*vrb
*/*synctex.gz
*/**/*synctex.gz
